*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    font-family: "Muli",sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
    height:100vh;
    overflow: hidden;
}
.container
{
    text-align: center;
}

.progress-container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    width:300px;
}
.progress-container::before
{
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    height:4px;
    width:100%;
    top:50%;
    left:0;
    z-index: -1;
}
.progress{
    background-color: #3489db;
    position: absolute;
    height:4px;
    width:0%;
    top:50%;
    left:0;
    z-index: -1;
    transition: 0.4s ease;
}
.circle
{
    height:30px;
    width:30px;
    background-color: #fff;
    border-radius: 50%;
    border:3px solid #e0e0e0;
    transition: 0.4s ease;
    
}
.active
{
    border: 3px solid #3489db;
}
.btn
{
    background-color: #3489db;
    color:#fff;
    padding:8px 30px;
    border: none;
    margin:10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn:disabled
{
    background-color:#e0e0e0; 
    cursor:not-allowed;
}
.btn:active
{
    transform: scale(.98);
}